@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


h1,h2,h3,h4 {
    font-family: "Merriweather", serif;
}

p {
    font-family: "Merriweather", serif;
    line-height: 1.6;
    color: #333;
}

main {
    max-width: 90%;
    margin-inline: auto;
}

nav {
    padding: 10px;
    margin: 0;
}

nav img {
    max-width: 250px;
    height: auto;
    align-items: center;
}

.header-recipes {
    padding: 2px;
    background-color: #FDFBF1;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 0.8rem;
    margin-block: 10px;
    border-top: #FFD877 2px solid;
}

.header-recipes p, a {
    color: teal;
}

.post {
    text-align: center;
    max-width: 60%;
    margin: 60px auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}

.description {
    font-size: 12px;
    margin-bottom: 20px;
    color: gray;
}

.related-article {
    border-left: #FFD877 2px solid;
    padding-left: 10px;
    margin-bottom: 60px;
 }

.related-article, .ingredients, .method {
    text-align: left;
    max-width: 60%;
    margin: 40px;
    margin-inline: auto;
}

.ingredients h2, .method h2 {
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: teal 1px solid;
}

.ingredients ul {
    font-family: "Merriweather", serif;
    line-height: 2.2rem;
    list-style-type: disc;
    padding-left: 20px;
}

.method ol {
    font-family: "Merriweather", serif;
    line-height: 2rem;
    list-style-type: decimal;
    padding-left: 20px;
}

